PORT=5000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/smart_task?schema=public
FIREBASE_PROJECT_ID=smart-task-management-xxx
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxx@smart-task-management-xxx.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_email_password
